body {
        font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h6 {
        font-weight: 700;
        color: #4db3e4;
}

h3 {
        font-size: 1.4rem;
}

a {
        color: white;
}

.fa-instagram {
        color: #4db3e4 ;
}

.shadow {
        box-shadow: 0 .3rem 0.3rem rgba(60, 0, 255, 0.15)!important
}

a:hover {
        text-decoration: none;
        color: #ffffff;
}

input {
        background-color: white !important;
        color: #4db3e4 !important;
}


img .rounded-circle {
        filter: none !important;
}

/* HEADER */

.navbar {
        background-color: white;
        color: #4db3e4 ;
}

.navbar-brand,
.footer-logo{
        font-weight: 700;
        font-size: 1.5rem;
}

.btn-main{
        background-color: #4db3e4 !important;
        color:#0b0c10;
}

/* Hero Section */

.hero {
        background-color: white;
}

.hero a{
        color: white !important;
}

.hero-post {
        position: relative;
}

.hero-post-badges {
        position: absolute;
        top: 10px;
        right: 10px;
}

.hero-post-badges>a {
        display: block;
        background-color: white;
        color: #4db3e4 !important;
        font-size: 0.8rem;
}

.hero-post-content {
        position: absolute;
        bottom: 10px;
        color: #4db3e4;
}

/* Main Blog */

.blog-posts {
        background-color: white;
        color: #c5c6c7 !important;
}

.blog-post {
        background-color: white;
        height: 200px !important;
}

.blog-post h3 {
        font-size: 1.4rem;
}

.blog-post img{
        width: 100%;
        height: 100%;
        object-fit: cover;

}

.blog-post p {
        font-size: 0.9rem;
}

.blog-post .col-sm-8 {
        border-left: 3px solid #4db3e4;
}

.badge{
        padding-top: 5rem !important;
        padding-bottom: 1rem;
        transform: translateY(10%);
        background-color: white !important;
}

.badge>a {
        
        margin-left: 0.5rem;
        padding: 0.5rem;
        background-color: #4db3e4;
        color: #0b0c10;
}

/* Aside */

.social-links {
        background-color: #4db3e4;
        color: #0b0c10;
        font-size: 1.5rem;
}

.primary-color {
        background-color: #4db3e4;
        color: white;
}

.secondary-color {
        background-color:white;
        color: #4db3e4;
}

.aside-heading{
        border-left: 3px solid #4db3e4;
}

.author p{
        font-size: 0.8rem;
}

.author-social-links a{
        margin-left: 0.8rem;
        color: #4db3e4;
}

.badges{
        margin-top: 1rem;
        
}

.badges>a {
        margin-left: 0.5rem;
        display: inline-block;
        margin: 0.2rem;
        padding: 0.5rem;
        background-color: #4db3e4;
        color: #0b0c10;
}

/* Footer */

.footer {
        background-color:#192057;
        color: #c5c6c7;
}
.footer p {
        font-size: 0.9rem;
}

.footer a {
        color: #4db3e4 !important;
}

.footer input {
        background-color: white  !important;
}

.img-fluid .postnya{
        width: 200px !important;
}
/* Detail Page */

/* .content {
        background-color: white;
        color: #000000;
} */